In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import collections
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

In [2]:
def EqualDiscret(n_part, name_atr, data):
    
    def transf(x):
        min1 = data[name_atr].min()
        max1 = data[name_atr].max()
        return (x - min1) // ((max1 - min1) / n_part) if x < max1 else (n_part - 1)
    
    data[name_atr] = data[name_atr].transform(transf)

In [3]:
data_iris = pd.read_csv("iris.data", names=['sepal_length', 'sepal_width', 
    'petal_length', 'petal_width', 'target'])
X_iris = data_iris.drop('target', axis=1)
y_iris = data_iris['target']

In [4]:
data_iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [5]:
columns = ["target", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols",
           "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity",
           "Hue", "OD280/OD315", "Proline"]
data_wine = pd.read_csv('wine.data', names = columns)
data_wine = data_wine[['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 
            'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 
            'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315', 
                       'Proline', 'target']]

In [6]:
data_wine.head(10)

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,1
6,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290,1
7,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295,1
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,1

In [7]:
X_wine = data_wine.drop('target', axis=1)
y_wine = data_wine['target']

In [8]:
csm_data = pd.read_excel('CSM.xlsx')
csm_data = csm_data.rename(columns={"Ratings": "target"})
csm_data = csm_data[["Genre", "Gross", "Budget", "Screens", "Sequel", "Sentiment", "Views", "Likes", "Dislikes", 
                     "Comments", "Aggregate Followers", "target"]]

In [9]:
EqualDiscret(4, "target", csm_data)

In [10]:
X_csm = data_wine.drop('target', axis=1)
y_csm = data_wine['target']

In [11]:
csm_data.head(10)

,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers,target
0,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0,2.0
1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0,2.0
2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0,2.0
3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0,2.0
4,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0,1.0
5,3,29000,500000.0,NaN,1,0,91137,112,7,1,310000.0,1.0
6,8,42600000,40000000.0,3158.0,1,0,3013011,9595,419,1020,8153000.0,2.0
7,1,5750000,20000000.0,818.0,1,2,1854103,2207,197,593,130655.0,2.0
8,10,26000000,28000000.0,2714.0,1,3,2213659,2210,419,382,125646.0,2.0
9,8,48600000,12500000.0,2253.0,1,0,5218079,11709,532,770,21697300.0,2.0

In [12]:
X_iris = pd.DataFrame(MinMaxScaler().fit_transform(X_iris), columns=X_iris.columns)
X_wine = pd.DataFrame(MinMaxScaler().fit_transform(X_wine), columns=X_wine.columns)
X_csm = pd.DataFrame(MinMaxScaler().fit_transform(X_csm), columns=X_csm.columns)

In [13]:
X_iris.loc[:, "target"] = y_iris
data_iris = X_iris
X_wine.loc[:, "target"] = y_wine
data_wine = X_wine
X_csm.loc[:, "target"] = y_csm
csm_data = X_csm

In [14]:
def EuclidianDist(dataset, inst, target):
    distances = []
    
    for i, row in dataset.iterrows():
        temp = 0
        
        for j in dataset.columns.values:
            if j != target:
                temp += (row[j] - inst[j]) ** 2
        
        distances.append((math.sqrt(temp), str(row[target]))) 
        
    return distances

In [15]:
def KnnOne(dataset, target, instance, k, discrete=True):
    dist = EuclidianDist(dataset, instance, target)
    dist.sort()
    neigh = dist[0:k]
    targets = [target for (dist, target) in neigh]
    amount = collections.Counter(targets)
    return max(amount, key=amount.get)

In [16]:
def Knn(dataset, target, instances, k, discrete=True):
    return [(KnnOne(train_data, target, observatio, k)) for i, observation in test_data.iterrows()]

In [17]:
def get_bagging_train(data: pd.DataFrame):#............
    return [data.sample(frac=0.7, replace=True) for i in range(10)]

In [18]:
def knn_simple_vote(observation, data_segmentation, k, target):
    predictions = [KnnOne(data, target, observation, k) for data in data_segmentation]
    frequency = collections.Counter(predictions)
    return max(frequency, key=frequency.get)

In [19]:
def knn_weighted_vote(weights, observation, data_segmentation, k, target):
    predictions = [KnnOne(data, target, observation, k) for data in data_segmentation]
    probabilities = {}
    for i in range(len(predictions)):
        probabilities[predictions[i]] = probabilities.get(predictions[i], 0.) + weights[i]
    return max(probabilities, key=probabilities.get)

In [20]:
def knn_dynamic_vote(data_train: pd.DataFrame, data_test: pd.DataFrame, k, target):
    weights = [1 * i for i in range(len(data_train))] 
    results = []
    for index, observation in data_test.iterrows():
        predictions = [KnnOne(data, target, observation, k) for data in data_train]
        probabilities = {}
        for i in range(len(predictions)):
            probabilities[predictions[i]] = probabilities.get(predictions[i], 0.) + weights[i]
        result = max(probabilities, key=probabilities.get)
        for i in range(len(predictions)):
            if predictions[i] != observation[target]:
                weights[i] /= 2
        results.append(result)
    return results

In [21]:
def get_cross_validation_train(data: pd.DataFrame):
    kf = KFold(n_splits=10, random_state=52, shuffle=True)
    data_train, data_test = [], []
    for train_index, test_index in kf.split(data):
        data_train.append(data.iloc[train_index])
        data_test.append(data.iloc[test_index])
    return data_train, data_test

In [22]:
def get_weights(data_train: pd.DataFrame, data_test: pd.DataFrame, target): 
    return [accuracy_score(data_test[target].to_list(), [KnnOne(data, target, observation, 3) 
            for index, observation in data_test.iterrows()]) for data in data_train]

In [23]:
def get_cross_validation_weights(data_train: pd.DataFrame, data_test: pd.DataFrame, target):
    return [accuracy_score(data_test[i][target].to_list(), [KnnOne(data_train[i], target, observation, 3) 
        for index, observation in data_test[i].iterrows()]) for i in range(len(data_train))]

In [24]:
iris_train, iris_test = train_test_split(data_iris, test_size=0.3, shuffle=True)
iris_train_bagging = get_bagging_train(iris_train)

In [25]:
real = [knn_simple_vote(observation, iris_train_bagging, 3, 'target') 
for index, observation in iris_test.iterrows()]
accuracy_score(iris_test['target'].tolist(), real)

0.9777777777777777

In [26]:
weights = get_weights(iris_train_bagging, iris_test, 'target')
real = [knn_weighted_vote(weights, observation, iris_train_bagging, 3, 'target') for index, observation in iris_test.iterrows()]
accuracy_score(iris_test['target'].tolist(), real)

0.9777777777777777

In [27]:
real = knn_dynamic_vote(iris_train_bagging, iris_test, 3, 'target')
accuracy_score(iris_test['target'].tolist(), real)

0.9777777777777777

In [28]:
iris_train_cross_validation, iris_test_cross_validation = get_cross_validation_train(iris_train)

real = [knn_simple_vote(observation, iris_train_cross_validation, 3, 'target') for index, observation in iris_test.iterrows()]
accuracy_score(iris_test['target'].tolist(), real)

0.9555555555555556

In [29]:
weights = get_cross_validation_weights(iris_train_cross_validation, iris_test_cross_validation, 'target')
real = [knn_weighted_vote(weights, observation, iris_train_cross_validation, 3, 'target') for index, observation in iris_test.iterrows()]
accuracy_score(iris_test['target'].tolist(), real)

0.9555555555555556

In [30]:
real = knn_dynamic_vote(iris_train_cross_validation, iris_test, 3, 'target')
accuracy_score(iris_test['target'].tolist(), real)

0.9555555555555556